<%= form_for(@pickup_route_start_time) do |f| %>
  <% if @pickup_route_start_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickup_route_start_time.errors.count, "error") %> prohibited this pickup_route_start_time from being saved:</h2>

      <ul>
      <% @pickup_route_start_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field">
    <%= f.label :route_name %><br />
    <%= f.collection_select :route_id, Route.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :pickup_start_time %><br />
    <%= f.text_field :pickup_start_time %>
    <%#= f.time_tag :pickup_start_time %>
    <%#= f.time_select :pickup_start_time, :value => @pickup_route_start_time.pickup_start_time, :default => Time.now %>


    <%#= time_tag("pickup_route_start_time", "pickup_start_time") %>
  </div>

  

<br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
